# Operating system
.DS_Store
Thumbs.db

# Editor settings
.vscode/
.idea/

# Python cache
__pycache__/
*.py[cod]
*.pyo

# Jupyter
.ipynb_checkpoints/

# Virtual environments
.env
.venv/
venv/

# Logs
*.log
